@import '_variables.scss';

body {
    width: 100vw;
    height: auto;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
}

nav.navbar {
    position: fixed;
    width: 100vw;
    height: auto;
    z-index: 999;
}

main {
    position: relative;
    width: 100vw;
    height: auto;

    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin: 20px 0;
    }
}

form div.form-outline {
    position: relative;
}

i#togglePassword {
    position: absolute;
    cursor: pointer;
}

.hidden {
    display: none !important;
}